@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root{
    --marrom-1: #663128;
    --marrom-2: #7C4032;
    --cinza: #333;
    --amarelo: #F3CE5E;
    --branco: #fff;
    --input-color: #E5AF99;
}
body{
    margin: 0px;
}
main{
    font-family: 'Poppins', sans-serif;
    color: var(--marrom-1);
}
html, body{
    overflow-x: hidden;
}